.hope-theme-dark {
  /* -------------------------------------------------------------------------------------------------
   * Primary color (Blue vivid)
   * -----------------------------------------------------------------------------------------------*/
  // global variant - solid
  --hope-colors-primary-solid-text: var(--hope-colors-);
  --hope-colors-primary-solid-bg: var(--hope-colors-);
  --hope-colors-primary-solid-border: var(--hope-colors-);
  --hope-colors-primary-solid-hover-text: var(--hope-colors-);
  --hope-colors-primary-solid-hover-bg: var(--hope-colors-);
  --hope-colors-primary-solid-hover-border: var(--hope-colors-);
  --hope-colors-primary-solid-active-text: var(--hope-colors-);
  --hope-colors-primary-solid-active-bg: var(--hope-colors-);
  --hope-colors-primary-solid-active-border: var(--hope-colors-);
  --hope-colors-primary-solid-disabled-text: var(--hope-colors-);
  --hope-colors-primary-solid-disabled-bg: var(--hope-colors-);
  --hope-colors-primary-solid-disabled-border: var(--hope-colors-);

  // global variant - soft
  --hope-colors-primary-soft-text: var(--hope-colors-);
  --hope-colors-primary-soft-bg: var(--hope-colors-);
  --hope-colors-primary-soft-border: var(--hope-colors-);
  --hope-colors-primary-soft-hover-text: var(--hope-colors-);
  --hope-colors-primary-soft-hover-bg: var(--hope-colors-);
  --hope-colors-primary-soft-hover-border: var(--hope-colors-);
  --hope-colors-primary-soft-active-text: var(--hope-colors-);
  --hope-colors-primary-soft-active-bg: var(--hope-colors-);
  --hope-colors-primary-soft-active-border: var(--hope-colors-);
  --hope-colors-primary-soft-disabled-text: var(--hope-colors-);
  --hope-colors-primary-soft-disabled-bg: var(--hope-colors-);
  --hope-colors-primary-soft-disabled-border: var(--hope-colors-);

  // global variant - outlined
  --hope-colors-primary-outlined-text: var(--hope-colors-);
  --hope-colors-primary-outlined-bg: var(--hope-colors-);
  --hope-colors-primary-outlined-border: var(--hope-colors-);
  --hope-colors-primary-outlined-hover-text: var(--hope-colors-);
  --hope-colors-primary-outlined-hover-bg: var(--hope-colors-);
  --hope-colors-primary-outlined-hover-border: var(--hope-colors-);
  --hope-colors-primary-outlined-active-text: var(--hope-colors-);
  --hope-colors-primary-outlined-active-bg: var(--hope-colors-);
  --hope-colors-primary-outlined-active-border: var(--hope-colors-);
  --hope-colors-primary-outlined-disabled-text: var(--hope-colors-);
  --hope-colors-primary-outlined-disabled-bg: var(--hope-colors-);
  --hope-colors-primary-outlined-disabled-border: var(--hope-colors-);

  // global variant - plain
  --hope-colors-primary-plain-text: var(--hope-colors-);
  --hope-colors-primary-plain-bg: var(--hope-colors-);
  --hope-colors-primary-plain-border: var(--hope-colors-);
  --hope-colors-primary-plain-hover-text: var(--hope-colors-);
  --hope-colors-primary-plain-hover-bg: var(--hope-colors-);
  --hope-colors-primary-plain-hover-border: var(--hope-colors-);
  --hope-colors-primary-plain-active-text: var(--hope-colors-);
  --hope-colors-primary-plain-active-bg: var(--hope-colors-);
  --hope-colors-primary-plain-active-border: var(--hope-colors-);
  --hope-colors-primary-plain-disabled-text: var(--hope-colors-);
  --hope-colors-primary-plain-disabled-bg: var(--hope-colors-);
  --hope-colors-primary-plain-disabled-border: var(--hope-colors-);

  // global variant - override text
  --hope-colors-primary-override-text-primary: var(--hope-colors-);
  --hope-colors-primary-override-text-secondary: var(--hope-colors-);
  --hope-colors-primary-override-text-tertiary: var(--hope-colors-);

  /* -------------------------------------------------------------------------------------------------
   * Neutral color (Blue gray)
   * -----------------------------------------------------------------------------------------------*/
  // global variant - solid
  --hope-colors-neutral-solid-text: var(--hope-colors-);
  --hope-colors-neutral-solid-bg: var(--hope-colors-);
  --hope-colors-neutral-solid-border: var(--hope-colors-);
  --hope-colors-neutral-solid-hover-text: var(--hope-colors-);
  --hope-colors-neutral-solid-hover-bg: var(--hope-colors-);
  --hope-colors-neutral-solid-hover-border: var(--hope-colors-);
  --hope-colors-neutral-solid-active-text: var(--hope-colors-);
  --hope-colors-neutral-solid-active-bg: var(--hope-colors-);
  --hope-colors-neutral-solid-active-border: var(--hope-colors-);
  --hope-colors-neutral-solid-disabled-text: var(--hope-colors-);
  --hope-colors-neutral-solid-disabled-bg: var(--hope-colors-);
  --hope-colors-neutral-solid-disabled-border: var(--hope-colors-);

  // global variant - soft
  --hope-colors-neutral-soft-text: var(--hope-colors-);
  --hope-colors-neutral-soft-bg: var(--hope-colors-);
  --hope-colors-neutral-soft-border: var(--hope-colors-);
  --hope-colors-neutral-soft-hover-text: var(--hope-colors-);
  --hope-colors-neutral-soft-hover-bg: var(--hope-colors-);
  --hope-colors-neutral-soft-hover-border: var(--hope-colors-);
  --hope-colors-neutral-soft-active-text: var(--hope-colors-);
  --hope-colors-neutral-soft-active-bg: var(--hope-colors-);
  --hope-colors-neutral-soft-active-border: var(--hope-colors-);
  --hope-colors-neutral-soft-disabled-text: var(--hope-colors-);
  --hope-colors-neutral-soft-disabled-bg: var(--hope-colors-);
  --hope-colors-neutral-soft-disabled-border: var(--hope-colors-);

  // global variant - outlined
  --hope-colors-neutral-outlined-text: var(--hope-colors-);
  --hope-colors-neutral-outlined-bg: var(--hope-colors-);
  --hope-colors-neutral-outlined-border: var(--hope-colors-);
  --hope-colors-neutral-outlined-hover-text: var(--hope-colors-);
  --hope-colors-neutral-outlined-hover-bg: var(--hope-colors-);
  --hope-colors-neutral-outlined-hover-border: var(--hope-colors-);
  --hope-colors-neutral-outlined-active-text: var(--hope-colors-);
  --hope-colors-neutral-outlined-active-bg: var(--hope-colors-);
  --hope-colors-neutral-outlined-active-border: var(--hope-colors-);
  --hope-colors-neutral-outlined-disabled-text: var(--hope-colors-);
  --hope-colors-neutral-outlined-disabled-bg: var(--hope-colors-);
  --hope-colors-neutral-outlined-disabled-border: var(--hope-colors-);

  // global variant - plain
  --hope-colors-neutral-plain-text: var(--hope-colors-);
  --hope-colors-neutral-plain-bg: var(--hope-colors-);
  --hope-colors-neutral-plain-border: var(--hope-colors-);
  --hope-colors-neutral-plain-hover-text: var(--hope-colors-);
  --hope-colors-neutral-plain-hover-bg: var(--hope-colors-);
  --hope-colors-neutral-plain-hover-border: var(--hope-colors-);
  --hope-colors-neutral-plain-active-text: var(--hope-colors-);
  --hope-colors-neutral-plain-active-bg: var(--hope-colors-);
  --hope-colors-neutral-plain-active-border: var(--hope-colors-);
  --hope-colors-neutral-plain-disabled-text: var(--hope-colors-);
  --hope-colors-neutral-plain-disabled-bg: var(--hope-colors-);
  --hope-colors-neutral-plain-disabled-border: var(--hope-colors-);

  // global variant - override text
  --hope-colors-neutral-override-text-primary: var(--hope-colors-);
  --hope-colors-neutral-override-text-secondary: var(--hope-colors-);
  --hope-colors-neutral-override-text-tertiary: var(--hope-colors-);

  /* -------------------------------------------------------------------------------------------------
   * Success color (Green)
   * -----------------------------------------------------------------------------------------------*/
  // global variant - solid
  --hope-colors-success-solid-text: var(--hope-colors-);
  --hope-colors-success-solid-bg: var(--hope-colors-);
  --hope-colors-success-solid-border: var(--hope-colors-);
  --hope-colors-success-solid-hover-text: var(--hope-colors-);
  --hope-colors-success-solid-hover-bg: var(--hope-colors-);
  --hope-colors-success-solid-hover-border: var(--hope-colors-);
  --hope-colors-success-solid-active-text: var(--hope-colors-);
  --hope-colors-success-solid-active-bg: var(--hope-colors-);
  --hope-colors-success-solid-active-border: var(--hope-colors-);
  --hope-colors-success-solid-disabled-text: var(--hope-colors-);
  --hope-colors-success-solid-disabled-bg: var(--hope-colors-);
  --hope-colors-success-solid-disabled-border: var(--hope-colors-);

  // global variant - soft
  --hope-colors-success-soft-text: var(--hope-colors-);
  --hope-colors-success-soft-bg: var(--hope-colors-);
  --hope-colors-success-soft-border: var(--hope-colors-);
  --hope-colors-success-soft-hover-text: var(--hope-colors-);
  --hope-colors-success-soft-hover-bg: var(--hope-colors-);
  --hope-colors-success-soft-hover-border: var(--hope-colors-);
  --hope-colors-success-soft-active-text: var(--hope-colors-);
  --hope-colors-success-soft-active-bg: var(--hope-colors-);
  --hope-colors-success-soft-active-border: var(--hope-colors-);
  --hope-colors-success-soft-disabled-text: var(--hope-colors-);
  --hope-colors-success-soft-disabled-bg: var(--hope-colors-);
  --hope-colors-success-soft-disabled-border: var(--hope-colors-);

  // global variant - outlined
  --hope-colors-success-outlined-text: var(--hope-colors-);
  --hope-colors-success-outlined-bg: var(--hope-colors-);
  --hope-colors-success-outlined-border: var(--hope-colors-);
  --hope-colors-success-outlined-hover-text: var(--hope-colors-);
  --hope-colors-success-outlined-hover-bg: var(--hope-colors-);
  --hope-colors-success-outlined-hover-border: var(--hope-colors-);
  --hope-colors-success-outlined-active-text: var(--hope-colors-);
  --hope-colors-success-outlined-active-bg: var(--hope-colors-);
  --hope-colors-success-outlined-active-border: var(--hope-colors-);
  --hope-colors-success-outlined-disabled-text: var(--hope-colors-);
  --hope-colors-success-outlined-disabled-bg: var(--hope-colors-);
  --hope-colors-success-outlined-disabled-border: var(--hope-colors-);

  // global variant - plain
  --hope-colors-success-plain-text: var(--hope-colors-);
  --hope-colors-success-plain-bg: var(--hope-colors-);
  --hope-colors-success-plain-border: var(--hope-colors-);
  --hope-colors-success-plain-hover-text: var(--hope-colors-);
  --hope-colors-success-plain-hover-bg: var(--hope-colors-);
  --hope-colors-success-plain-hover-border: var(--hope-colors-);
  --hope-colors-success-plain-active-text: var(--hope-colors-);
  --hope-colors-success-plain-active-bg: var(--hope-colors-);
  --hope-colors-success-plain-active-border: var(--hope-colors-);
  --hope-colors-success-plain-disabled-text: var(--hope-colors-);
  --hope-colors-success-plain-disabled-bg: var(--hope-colors-);
  --hope-colors-success-plain-disabled-border: var(--hope-colors-);

  // global variant - override text
  --hope-colors-success-override-text-primary: var(--hope-colors-);
  --hope-colors-success-override-text-secondary: var(--hope-colors-);
  --hope-colors-success-override-text-tertiary: var(--hope-colors-);

  /* -------------------------------------------------------------------------------------------------
   * Info color (Purple)
   * -----------------------------------------------------------------------------------------------*/
  // global variant - solid
  --hope-colors-info-solid-text: var(--hope-colors-);
  --hope-colors-info-solid-bg: var(--hope-colors-);
  --hope-colors-info-solid-border: var(--hope-colors-);
  --hope-colors-info-solid-hover-text: var(--hope-colors-);
  --hope-colors-info-solid-hover-bg: var(--hope-colors-);
  --hope-colors-info-solid-hover-border: var(--hope-colors-);
  --hope-colors-info-solid-active-text: var(--hope-colors-);
  --hope-colors-info-solid-active-bg: var(--hope-colors-);
  --hope-colors-info-solid-active-border: var(--hope-colors-);
  --hope-colors-info-solid-disabled-text: var(--hope-colors-);
  --hope-colors-info-solid-disabled-bg: var(--hope-colors-);
  --hope-colors-info-solid-disabled-border: var(--hope-colors-);

  // global variant - soft
  --hope-colors-info-soft-text: var(--hope-colors-);
  --hope-colors-info-soft-bg: var(--hope-colors-);
  --hope-colors-info-soft-border: var(--hope-colors-);
  --hope-colors-info-soft-hover-text: var(--hope-colors-);
  --hope-colors-info-soft-hover-bg: var(--hope-colors-);
  --hope-colors-info-soft-hover-border: var(--hope-colors-);
  --hope-colors-info-soft-active-text: var(--hope-colors-);
  --hope-colors-info-soft-active-bg: var(--hope-colors-);
  --hope-colors-info-soft-active-border: var(--hope-colors-);
  --hope-colors-info-soft-disabled-text: var(--hope-colors-);
  --hope-colors-info-soft-disabled-bg: var(--hope-colors-);
  --hope-colors-info-soft-disabled-border: var(--hope-colors-);

  // global variant - outlined
  --hope-colors-info-outlined-text: var(--hope-colors-);
  --hope-colors-info-outlined-bg: var(--hope-colors-);
  --hope-colors-info-outlined-border: var(--hope-colors-);
  --hope-colors-info-outlined-hover-text: var(--hope-colors-);
  --hope-colors-info-outlined-hover-bg: var(--hope-colors-);
  --hope-colors-info-outlined-hover-border: var(--hope-colors-);
  --hope-colors-info-outlined-active-text: var(--hope-colors-);
  --hope-colors-info-outlined-active-bg: var(--hope-colors-);
  --hope-colors-info-outlined-active-border: var(--hope-colors-);
  --hope-colors-info-outlined-disabled-text: var(--hope-colors-);
  --hope-colors-info-outlined-disabled-bg: var(--hope-colors-);
  --hope-colors-info-outlined-disabled-border: var(--hope-colors-);

  // global variant - plain
  --hope-colors-info-plain-text: var(--hope-colors-);
  --hope-colors-info-plain-bg: var(--hope-colors-);
  --hope-colors-info-plain-border: var(--hope-colors-);
  --hope-colors-info-plain-hover-text: var(--hope-colors-);
  --hope-colors-info-plain-hover-bg: var(--hope-colors-);
  --hope-colors-info-plain-hover-border: var(--hope-colors-);
  --hope-colors-info-plain-active-text: var(--hope-colors-);
  --hope-colors-info-plain-active-bg: var(--hope-colors-);
  --hope-colors-info-plain-active-border: var(--hope-colors-);
  --hope-colors-info-plain-disabled-text: var(--hope-colors-);
  --hope-colors-info-plain-disabled-bg: var(--hope-colors-);
  --hope-colors-info-plain-disabled-border: var(--hope-colors-);

  // global variant - override text
  --hope-colors-info-override-text-primary: var(--hope-colors-);
  --hope-colors-info-override-text-secondary: var(--hope-colors-);
  --hope-colors-info-override-text-tertiary: var(--hope-colors-);

  /* -------------------------------------------------------------------------------------------------
   * Warning color (Yellow vivid)
   * -----------------------------------------------------------------------------------------------*/
  // global variant - solid
  --hope-colors-warning-solid-text: var(--hope-colors-);
  --hope-colors-warning-solid-bg: var(--hope-colors-);
  --hope-colors-warning-solid-border: var(--hope-colors-);
  --hope-colors-warning-solid-hover-text: var(--hope-colors-);
  --hope-colors-warning-solid-hover-bg: var(--hope-colors-);
  --hope-colors-warning-solid-hover-border: var(--hope-colors-);
  --hope-colors-warning-solid-active-text: var(--hope-colors-);
  --hope-colors-warning-solid-active-bg: var(--hope-colors-);
  --hope-colors-warning-solid-active-border: var(--hope-colors-);
  --hope-colors-warning-solid-disabled-text: var(--hope-colors-);
  --hope-colors-warning-solid-disabled-bg: var(--hope-colors-);
  --hope-colors-warning-solid-disabled-border: var(--hope-colors-);

  // global variant - soft
  --hope-colors-warning-soft-text: var(--hope-colors-);
  --hope-colors-warning-soft-bg: var(--hope-colors-);
  --hope-colors-warning-soft-border: var(--hope-colors-);
  --hope-colors-warning-soft-hover-text: var(--hope-colors-);
  --hope-colors-warning-soft-hover-bg: var(--hope-colors-);
  --hope-colors-warning-soft-hover-border: var(--hope-colors-);
  --hope-colors-warning-soft-active-text: var(--hope-colors-);
  --hope-colors-warning-soft-active-bg: var(--hope-colors-);
  --hope-colors-warning-soft-active-border: var(--hope-colors-);
  --hope-colors-warning-soft-disabled-text: var(--hope-colors-);
  --hope-colors-warning-soft-disabled-bg: var(--hope-colors-);
  --hope-colors-warning-soft-disabled-border: var(--hope-colors-);

  // global variant - outlined
  --hope-colors-warning-outlined-text: var(--hope-colors-);
  --hope-colors-warning-outlined-bg: var(--hope-colors-);
  --hope-colors-warning-outlined-border: var(--hope-colors-);
  --hope-colors-warning-outlined-hover-text: var(--hope-colors-);
  --hope-colors-warning-outlined-hover-bg: var(--hope-colors-);
  --hope-colors-warning-outlined-hover-border: var(--hope-colors-);
  --hope-colors-warning-outlined-active-text: var(--hope-colors-);
  --hope-colors-warning-outlined-active-bg: var(--hope-colors-);
  --hope-colors-warning-outlined-active-border: var(--hope-colors-);
  --hope-colors-warning-outlined-disabled-text: var(--hope-colors-);
  --hope-colors-warning-outlined-disabled-bg: var(--hope-colors-);
  --hope-colors-warning-outlined-disabled-border: var(--hope-colors-);

  // global variant - plain
  --hope-colors-warning-plain-text: var(--hope-colors-);
  --hope-colors-warning-plain-bg: var(--hope-colors-);
  --hope-colors-warning-plain-border: var(--hope-colors-);
  --hope-colors-warning-plain-hover-text: var(--hope-colors-);
  --hope-colors-warning-plain-hover-bg: var(--hope-colors-);
  --hope-colors-warning-plain-hover-border: var(--hope-colors-);
  --hope-colors-warning-plain-active-text: var(--hope-colors-);
  --hope-colors-warning-plain-active-bg: var(--hope-colors-);
  --hope-colors-warning-plain-active-border: var(--hope-colors-);
  --hope-colors-warning-plain-disabled-text: var(--hope-colors-);
  --hope-colors-warning-plain-disabled-bg: var(--hope-colors-);
  --hope-colors-warning-plain-disabled-border: var(--hope-colors-);

  // global variant - override text
  --hope-colors-warning-override-text-primary: var(--hope-colors-);
  --hope-colors-warning-override-text-secondary: var(--hope-colors-);
  --hope-colors-warning-override-text-tertiary: var(--hope-colors-);

  /* -------------------------------------------------------------------------------------------------
   * Danger color (Red vivid)
   * -----------------------------------------------------------------------------------------------*/
  // global variant - solid
  --hope-colors-danger-solid-text: var(--hope-colors-);
  --hope-colors-danger-solid-bg: var(--hope-colors-);
  --hope-colors-danger-solid-border: var(--hope-colors-);
  --hope-colors-danger-solid-hover-text: var(--hope-colors-);
  --hope-colors-danger-solid-hover-bg: var(--hope-colors-);
  --hope-colors-danger-solid-hover-border: var(--hope-colors-);
  --hope-colors-danger-solid-active-text: var(--hope-colors-);
  --hope-colors-danger-solid-active-bg: var(--hope-colors-);
  --hope-colors-danger-solid-active-border: var(--hope-colors-);
  --hope-colors-danger-solid-disabled-text: var(--hope-colors-);
  --hope-colors-danger-solid-disabled-bg: var(--hope-colors-);
  --hope-colors-danger-solid-disabled-border: var(--hope-colors-);

  // global variant - soft
  --hope-colors-danger-soft-text: var(--hope-colors-);
  --hope-colors-danger-soft-bg: var(--hope-colors-);
  --hope-colors-danger-soft-border: var(--hope-colors-);
  --hope-colors-danger-soft-hover-text: var(--hope-colors-);
  --hope-colors-danger-soft-hover-bg: var(--hope-colors-);
  --hope-colors-danger-soft-hover-border: var(--hope-colors-);
  --hope-colors-danger-soft-active-text: var(--hope-colors-);
  --hope-colors-danger-soft-active-bg: var(--hope-colors-);
  --hope-colors-danger-soft-active-border: var(--hope-colors-);
  --hope-colors-danger-soft-disabled-text: var(--hope-colors-);
  --hope-colors-danger-soft-disabled-bg: var(--hope-colors-);
  --hope-colors-danger-soft-disabled-border: var(--hope-colors-);

  // global variant - outlined
  --hope-colors-danger-outlined-text: var(--hope-colors-);
  --hope-colors-danger-outlined-bg: var(--hope-colors-);
  --hope-colors-danger-outlined-border: var(--hope-colors-);
  --hope-colors-danger-outlined-hover-text: var(--hope-colors-);
  --hope-colors-danger-outlined-hover-bg: var(--hope-colors-);
  --hope-colors-danger-outlined-hover-border: var(--hope-colors-);
  --hope-colors-danger-outlined-active-text: var(--hope-colors-);
  --hope-colors-danger-outlined-active-bg: var(--hope-colors-);
  --hope-colors-danger-outlined-active-border: var(--hope-colors-);
  --hope-colors-danger-outlined-disabled-text: var(--hope-colors-);
  --hope-colors-danger-outlined-disabled-bg: var(--hope-colors-);
  --hope-colors-danger-outlined-disabled-border: var(--hope-colors-);

  // global variant - plain
  --hope-colors-danger-plain-text: var(--hope-colors-);
  --hope-colors-danger-plain-bg: var(--hope-colors-);
  --hope-colors-danger-plain-border: var(--hope-colors-);
  --hope-colors-danger-plain-hover-text: var(--hope-colors-);
  --hope-colors-danger-plain-hover-bg: var(--hope-colors-);
  --hope-colors-danger-plain-hover-border: var(--hope-colors-);
  --hope-colors-danger-plain-active-text: var(--hope-colors-);
  --hope-colors-danger-plain-active-bg: var(--hope-colors-);
  --hope-colors-danger-plain-active-border: var(--hope-colors-);
  --hope-colors-danger-plain-disabled-text: var(--hope-colors-);
  --hope-colors-danger-plain-disabled-bg: var(--hope-colors-);
  --hope-colors-danger-plain-disabled-border: var(--hope-colors-);

  // global variant - override text
  --hope-colors-danger-override-text-primary: var(--hope-colors-);
  --hope-colors-danger-override-text-secondary: var(--hope-colors-);
  --hope-colors-danger-override-text-tertiary: var(--hope-colors-);

  /* -------------------------------------------------------------------------------------------------
  * Others
  * -----------------------------------------------------------------------------------------------*/
  // Semantic colors
  --hope-colors-background-body: var(--hope-colors-neutral-900);
  --hope-colors-background-surface-0: var(--hope-colors-neutral-900);
  --hope-colors-background-surface-1: var(--hope-colors-neutral-800);
  --hope-colors-background-surface-2: var(--hope-colors-neutral-700);
  --hope-colors-background-surface-3: var(--hope-colors-neutral-600);
  --hope-colors-background-tooltip: var(--hope-colors-neutral-600);
  --hope-colors-text-primary: var(--hope-colors-neutral-100);
  --hope-colors-text-secondary: var(--hope-colors-neutral-300);
  --hope-colors-text-tertiary: var(--hope-colors-neutral-400);
  --hope-colors-divider: var(--hope-colors-neutral-800);
  --hope-colors-focus-ring: var(--hope-colors-primary-600);

  // Shadows (In dark mode shadow should not be used to express elevation use a lighter surface color instead)
  --hope-shadows-xs: none;
  --hope-shadows-sm: none;
  --hope-shadows-md: none;
  --hope-shadows-lg: none;
  --hope-shadows-xl: none;
  --hope-shadows-2xl: none;
  --hope-shadows-3xl: none;
}
